html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  color: white;
  font-family: sans-serif;
  background-color: #4f4a4a;
}

$color-primary: #4CAF50;
$color-primary-light: #66BB6A;
$color-text-light: snow;

body {
  align-items: center;
  background: #212121;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}

button {
  background: $color-primary;
  border: none;
  border-radius: 25px;
  color: $color-text-light;
  cursor: pointer;
  font-size: 1.25em;
  letter-spacing: .1em;
  outline: none;
  padding: .75em 2em;
  position: relative;
  text-transform: uppercase;
  
  &:hover {
    animation: glow 1s ease-in infinite;
  }
  
  &::before {
    animation: glow 1s ease-in infinite;
    background: $color-primary;
    border-radius: inherit;
    content: '';
    filter: blur(10px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }
  
  &:hover::before {
    filter: blur(20px);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    background: $color-primary;
  }
  25% {
    background: $color-primary-light;
  }
  100% {
    background: $color-primary;
  }
}